.user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 370px;
}
.user-photo {
    max-width: 70px;
    border-radius: 50%;
}
.user-name {
    margin: 20px 0;
}
.user p, .user span{
    display: -webkit-box;
    -webkit-line-clamp: 1;
-webkit-box-orient: vertical;
    overflow: hidden;
}