@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Lato', sans-serif;
  color: #414141;
  background-color: #E5E5E5;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.87);
}
h1 {
  color: #fff;
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  cursor: pointer;
  border: 0;
}
input {
  outline: none;
}
fieldset {
  border: 0;
  padding: 0;
}

.center {
  margin: auto;
  text-align: center;
}

.preview {
  height: 650px;
  background-position: center;
padding: 164px 0 0 0;
  margin-bottom: 140px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/pexels-alexandr-podvalny-1227513.jpeg');
}

.preview > div {
  max-width: 380px;
  color: #fff;
}
.preview  p {
  margin: 21px 0 32px 0;
}